custom-modules/awesome_gallery/rng/gallery.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
             xmlns:a="http://relaxng.org/ns/annotation/1.0"
             datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <define name="gallery">
        <element name="gallery">
            <attribute name="image_field"/>
            <optional><attribute name="tooltip_field"/></optional>
        </element>
    </define>

    <start>
        <ref name="gallery"/>
    </start>
</grammar>